/* Base styles for desktop */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc; /* Light beige background */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section.statement {
    border: 1px solid #ccc; /* Adds borders on all sides */
    padding: 20px;          /* Adds spacing inside the section */
    margin-top: 0;          /* Removes only the top margin */
    margin-right: 20px;     /* Keeps the right margin */
    margin-bottom: 20px;    /* Keeps the bottom margin */
    margin-left: 20px;      /* Keeps the left margin */
}

section.statement h2 {
    margin: 0; /* Removes default margins for all child elements */
    padding: 0; /* Removes default padding for all child elements */
}

h1 + section.statement {
    margin-top: 0; /* Ensures no extra space between the h1 and the section */
}

h1.align-with-statement {
    margin-left: 20px; /* Matches the section's margin */
}

h1 {
    color: #4E342E; /* Dark brown */
}

h2 {
    color: #6A5ACD; /* Slate blue */
}

h3 {
    color: #8B4513; /* Dark olive green */
}

h4 {
    color: #D2691E; /* Rusty orange */
}

.no-indent {
    margin-left: 0;
    padding-left: 0;
}

code {
    font-family: Consolas, "Courier New", monospace;
}

.code-container {
    padding: 0px;
    width: 90%;
    max-width: 1000px;
    margin: 20px 0;
    left: 5%;
}

.algorithm p {
    margin: 0;
}

.algorithm .indent-1 {
    margin-left: 20px;
}

.algorithm .indent-2 {
    margin-left: 40px;
}

.algorithm .indent-3 {
    margin-left: 60px;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #373832;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
}

.copy-btn:hover {
    background-color: #49483f;
}

.back-link {
    position: fixed;
    z-index: 100;
    cursor: pointer;
    background-color: #373832;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.back-link.top-right {
    top: 20px;
    right: 20px;
}

.back-link.bottom-right {
    bottom: 20px;
    right: 20px;
}

.ptable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ptable th,
.ptable td {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: left;
}

.ptable th {
    border-top: 1px solid #000;
    background-color: #f0f0f0;
}

.ptable td {
    vertical-align: top;
}

.ptable a {
    color: #0000EE;
    text-decoration: none;
}

.ptable a:hover {
    text-decoration: underline;
}

.ptable th.sub-header {
    color: blue;
    font-style: italic;
}

.dtable {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dtable th,
.dtable td {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
}

.dtable th {
    background-color: #f2f2f2;
}

/* CSS for table with class atable */
table.atable {
    border-collapse: collapse;
    width: 100%;
}

table.atable,
table.atable td {
    border: 1px solid #000;
}

table.atable th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    font-weight: normal;
}

table.atable td {
    padding: 8px;
    text-align: left;
}

.statement {
    margin-right: 270px;
}

legend {
    color: burgundy;
    font-weight: bold;
}

fieldset {
    border: 2px solid burgundy;
    color: burgundy;
}

.toc {
    position: fixed;
    top: 100px;
    right: 40px;
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toc a {
    display: inline;
    text-decoration: underline;
    color: black;
    position: relative;
    padding-left: 2px;
}

.toc a::before {
    position: absolute;
    left: 0px;
    color: black;
}

.toc a.sub-item {
    padding-left: 0px;
}

.toc a.sub-item::before {
    content: "•";
    position: absolute;
    left: 25px;
    color: black;
}

.toc a:hover {
    text-decoration: underline;
}

.img-container {
    /*text-align: center; /* Center the content within the container */
    margin: 0 auto;
}

figure {
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center image and caption horizontally */
    margin: 20px auto; /* Add spacing and center figure horizontally */
    max-width: 800px; /* Ensure figure does not exceed image width */
    text-align: center; /* Center caption text within the figure */
}

img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

figcaption {
    font-size: 14px; /* Adjust text size */
    color: #555; /* Improve readability with a subtle color */
    margin-top: 8px; /* Add space between image and caption */
    max-width: 100%; /* Ensure caption does not exceed image width */
    word-wrap: break-word; /* Prevent overflow for long words */
    text-align: center; /* Center-align caption text */
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.console {
    background: #1e1e1e;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    line-height: 1.6;
    font-size: 14px;
    width: 80%;
    max-width: 800px;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #444;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.prompt {
    color: #0ff;
}

.command {
    color: #0f0;
}

.output {
    color: #bbb;
}

.indented-block {
    text-indent: 30px;
}

figure.no-center {
    display: block;
    justify-content: initial;
    align-items: initial;
    text-align: initial;
}

figure.left-aligned {
    display: block; /* Removes flex behavior */
    margin: 20px 0; /* Adds vertical spacing */
    max-width: 800px; /* Ensures figure does not exceed this width */
    text-align: left; /* Aligns the caption text to the left */
}

figure.left-aligned img {
    display: block; /* Ensures the image behaves as a block element */
    margin: 0; /* Removes any default centering */
}

.flex-container {
    display: flex;
    gap: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.flex-container .code-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.flex-container .code-container {
    padding: 10px !important;
    width: auto !important;
    max-width: 100% !important;
    margin: 0 !important;
    left: auto !important;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-container .code-container pre {
    margin: 0;
    font-family: Consolas, Monaco, 'Courier New', monospace;
    overflow: auto;
    padding: 0;
    height: 100%;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

.text-box {
    border: 1px solid #ccc; /* Adds a light border */
    padding: 5px;          /* Adds space inside the box */
    margin: 20px 0;         /* Adds vertical spacing */
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 5px;     /* Rounds the corners slightly */
    font-family: Arial, sans-serif; /* Sets a clean font */
    font-size: 16px;        /* Sets the text size */
    width: 90%;             /* Make the box responsive */
    max-width: 800px;       /* Ensure the box doesn't exceed the width of code-container or images */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for aesthetics */
    word-wrap: break-word;  /* Prevent text from overflowing */
    margin-left: 0;         /* Ensures the box is left-aligned */
}

ul.none {
    list-style-type: none; /* Removes bullets */
    padding-left: 20px; /* Adds indentation */
    margin: 0; /* Ensures no extra margin is added */
}