/* Base styles for desktop */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Light beige background */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.code-container {
    background-color: #272822;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    position: relative;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #373832;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
}

.copy-btn:hover {
    background-color: #49483f;
}

.back-link {
    position: fixed;
    z-index: 100;
    cursor: pointer;
    background-color: #373832;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.back-link.top-right {
    top: 20px;
    right: 20px;
}

.back-link.bottom-right {
    bottom: 20px;
    right: 20px;
}

.ptable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ptable th, .ptable td {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: left;
}

.ptable th {
    border-top: 1px solid #000;
    background-color: #f0f0f0;
}

.ptable td {
    vertical-align: top;
}

.ptable a {
    color: #0000EE;
    text-decoration: none;
}

.ptable a:hover {
    text-decoration: underline;
}

.ptable th.sub-header {
    color: blue;
    font-style: italic;
}

.statement {
    margin-right: 220px; /* Add right margin to make space for the TOC */
}

legend {
    color: burgundy;
    font-weight: bold;
}

fieldset {
    border: 2px solid burgundy; /* Adjust the border width if needed */
    color: burgundy; /* Set the text color inside the fieldset to burgundy */
}

.toc {
    position: fixed;
    top: 50px; /* Adjust based on your preference */
    right: 250px; /* Set the distance from the right edge to 250 pixels */
    width: 200px; /* Set the width to 200 pixels */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toc a {
    display: block; /* Ensure each link takes up the full width and appears on its own line */
    margin: 5px 0; /* Add some margin for spacing between links */
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Set link color */
}

.toc a:hover {
    text-decoration: underline; /* Underline links on hover for better visibility */
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    .toc {
        position: static; /* Remove fixed positioning on small screens */
        width: 100%; /* Make the TOC full width */
        margin-bottom: 20px; /* Add some margin below the TOC */
    }

    .statement {
        margin-right: 0; /* Remove the right margin */
    }
}
